<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CKFinder Embedding Examples</title>
</head>
<body>
<ul>
    <li><a href="{{ path('ckfinder_examples', { example: 'fullpage' }) }}">Full Page</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'widget' }) }}">Widget</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'popup' }) }}">Popup</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'modal' }) }}">Modal</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'filechooser' }) }}">Form File Chooser</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'ckeditor4' }) }}">CKEditor 4 Integration</a></li>
    <li><a href="{{ path('ckfinder_examples', { example: 'ckeditor5' }) }}">CKEditor 5 Integration</a></li>
</ul>
</body>
</html>

